<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OilShop.Properties.Settings.OilShopConnectionString"
            connectionString="Data Source=DESKTOP-RBKITE9\SQLEXPRESS;Initial Catalog=OilShop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>